.container-fluid {
  background-color: #FFF;
}

.question {
  color: #000;
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}

.questionRight {
  background-color: #5cb85c;
}

.questionWrong {
  background-color: #d9534f;
}

h1 {
  text-align: center;
  color: #000;
}

.question > h3 {
  margin: 5px 10px;
  font-weight: 300;
}

.btn-sm {
  margin: 5px;
}

.btn-word {
  margin: 5px;
  color: black;
}